<div class="container">

	<div class="card-panel center white-text">
		<H2>¡Bienvenido!</H2>
		<h5>¿Qué quieres hacer ahora?</h5>
		<P>
			Ahora es: <%= Time.now %>
		</P>
		<div class="row">
			<% if current_user %>
				<%= link_to "Enviar posición", "proyectoGPS/positions", class:"btn" %>
				<%= link_to "Mostrar posiciones", "proyectoGPS/map", class:"btn" %>
			<% else %>
				<%= link_to "Sing in with Google", "/auth/google_oauth2", id: "sign_in", class:"btn" %>
			<% end %>
		</div>

	</div>

</div>
